@mixin full {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

html,body {
  overflow: hidden;

  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;

  background: black;

  font-size: 16px;
}

p,h1,a {
  font-family: 'Rubik', sans-serif;
}
button {
  padding: .5rem 1rem;
  border: 2px solid white;
  border-radius: 1rem;
  background: none;
  color: white;
  cursor: pointer;
  transition: color .5s, background .5s;

  &:hover {
    background: white;
    color: black;
  }
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.images {
  position: absolute;
  top: 0;
  left: 0;

  img {
    position: absolute;
    transform-origin: 0 0;
  }
}

.slider {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: calc(100% - 40px);
}

.scrollContainer {
  @include full;

  -webkit-overflow-scrolling: touch;

  overflow-x: hidden;
  overflow-y: scroll;

  .scrollContent {
    width: 100%;
  }
}

.names {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 50px;

  background-color: rgba(0, 0, 0, 0.7);

  color: white;
  white-space: nowrap;

  .names-scroll {
    transition: transform 0.3s;

    a {
      position: relative;
      display: inline;
      color: white;
      text-decoration: none;

      &::after {
        position: absolute;
        bottom: 0;

        display: block;

        width: 100%;
        height: 2px;

        background-color: rgba(255, 255, 255, 0);
        content: '';

        pointer-events: none;

        transition: bottom 0.25s, background-color 0.25s;
      }

      &:hover::after {
        bottom: -5px;
        background-color: rgba(255, 255, 255, 1);
      }
    }

    p {
      display: inline-block;

      margin-right: 100px;
      color: white;

      font-weight: 300;

      opacity: 0.25;

      transition: opacity 0.3s;
      vertical-align: baseline;

      &.active {
        opacity: 1;
      }

      span {
        display: inline-block;

        &.catName {
          overflow: hidden; 

          max-width: 10rem;
          margin: 0 .25rem -.25rem;

          font-weight: bold;
          text-overflow: ellipsis;
        }
      }
    }
  }
}

.scroll-message {
  pointer-events: none;
  transition: opacity 2s, visibility 2s;

  p {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 10px 20px;

    border: 0;
    border-radius: 20px;

    background: rgba(255, 255, 255, 0.6);
    transform: translate(-50%, -50%);

    user-select: none;
  }
}

.credits {
  position: absolute;
  top: calc(100% - 50px);
  left: 0;

  display: flex;

  width: 100%;
  height: 360px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  background-color: rgba(0, 0, 0, 0.6);

  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;

  transition: top 0.5s, background-color 0.5s;

  &.open {
    top: calc(100% - 360px);
    background-color: rgba(0, 0, 0, 0.8);
  }

  h1 {
    width: 100%;
    height: 50px;
    margin: 0;
    color: white;

    cursor: pointer;

    font-size: 16px;
    font-weight: normal;
    line-height: 50px;
    text-align: center;
  }

  p {
    margin: 10px;
    color: white;

    font-size: 12px;
    line-height: 20px;
    text-align: center;

    a { color: white; }

    &:last-child {
      margin-bottom: 25px;
    }
  }

  img {
    height: 50px;
    margin: 0.5rem;
  }
}

.loader {
  @include full;
  @include center;

  background: black;
  transition: opacity 1s, visibility 1s;

  &-message {
    color: white;
    font-size: 10px;
  }

  .skip {
    margin-top: 1rem;
    font-size: .75rem;
  }
}

.nocatmessage {
  @include full;
  @include center;

  color: white;
}
